/**
* @mxmlc -default-background-color #cccccc -default-frame-rate 40 -default-size 800 600 -o bin/flash/boot.swf
*/

package 
{
	import flash.display.MovieClip;
	import flash.display.Loader;
	import flash.net.URLRequest;
	
	public class Boot extends MovieClip 
	{	
		public function Boot() {
			var l:Loader = new Loader();
			l.load(new URLRequest(this.root.loaderInfo.parameters.main));
			addChild(l);		
		}
	}
}