/*/////////////////////////////////////////////////////////////////////
//                            ADMIN.CSS                              //
/////////////////////////////////////////////////////////////////////*/


/*-----------------------------GENERAL------------------------------*/

body{
	padding:0;
	margin:0;
	background-color: #ffffff;
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

/*----------------------------/GENERAL------------------------------*/




/*------------------------------HEADER-------------------------------*/

#header {
	margin:auto;
	margin-top:-16px;
	padding:0;
	background-color:#464646;
	height: 30px;
}

/*-----------------------------/HEADER-------------------------------*/




/*------------------------------LOGIN-------------------------------*/
form {
	margin-left: 8px;
	padding: 16px 16px 40px 16px;
	font-weight: bold;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#e3edf5;
}

#login form .submit input {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	padding: 3px 5px;
	border: none;
	font-size: 13px;
	color: #6790b0;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: default;
	text-decoration: none;	
	margin-top: -6px;
	background-color:#cee1ef;
	border-color:#80b5d0;
}

form .souvenir { font-weight: normal; float: left; margin-bottom: 0;}

form .submit { float: right; }

form p { margin-bottom: 24px; }

h1 a {
	width: 292px;
	height: 66px;
	text-indent: -9999px;
	overflow: hidden;
	padding-bottom: 15px;
	display: block;
}

.back_to_website a {
	position: absolute;
	top: 7px;
	left: 15px;
	text-decoration: none;
	color:#cccccc;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

#login { width: 292px; margin: 7em auto; }

#login_error, .message {
	margin: 0 0 16px 8px;
	border-width: 1px;
	border-style: solid;
	padding: 12px;
}

#nav { margin: 0 0 0 8px; padding: 16px; }
#nav a { color:#cccccc; }

#user_pass, #user_login, #user_email {
	font-size: 20px;
	width: 97%;
	padding: 3px;
	margin-right: 6px;
}



/*------------------------------FOOTER-------------------------------*/

#footer {
	margin: auto;
	background-color:#464646;
	height: 30px;
	color:#cccccc;
}

/*-----------------------------/FOOTER-------------------------------*/