set sdk=C:\Progra~2\Adobe\FlexSDK\3.5\bin\mxmlc.exe
set buildfile=src\page\config.xml
call %sdk% -load-config+=%buildfile% -debug=false -incremental=false -benchmark=false -o bin\flash\bg.swf -file-specs src\page\Bg.as