set sdk=C:\progra~1\adobe\flex_sdk\bin\mxmlc.exe
set buildfile=src\page\config.xml
call %sdk% -load-config+=%buildfile% -debug=false -incremental=false -benchmark=false -o bin\flash\bg.swf -file-specs src\page\Bg.as