/**
$(CBI)* $(ProjectName)
$(CBI)* @author $(DefaultUser)
$(CBI)*/

package $(PackageName)$(CSLB)
{
	import railk.as3.net.preloader.AS3Preloader;
	import railk.as3.ui.loading.*;
	
	public class Preloader extends AS3Preloader $(CSLB)
	{
		public function Preloader() $(CSLB){
			super();
		}
		
		override protected function createLoading():* {
			return new RectLoading({ fond:0xCCCCCC, bar:0x111111 }, 0, 0, 2, 220);			
		}
	}
}