/**
$(CBI)* $(ProjectName)
$(CBI)* @author $(DefaultUser)
$(CBI)*/

package $(PackageName)$(CSLB)
{
	import railk.as3.net.preloader.BOOTPreloader;
	import railk.as3.ui.loading.*;
	
	public class Preloader extends BOOTPreloader $(CSLB)
	{
		public function Preloader() $(CSLB){
			super();
		}
		
		override protected function createLoading():* {
			return new RectLoading(0xCCCCCC,0x111111, 0, 0, 220, 2);			
		}
	}
}