/**
$(CBI)* $(ProjectID) Preloader
$(CBI)* @author $(DefaultUser)
$(CBI)*/

package $(CSLB){
	import railk.as3.net.preloader.AS3Preloader;
	import railk.as3.ui.loading.*;
	
	public class Preloader extends AS3Preloader $(CSLB){
		public function Preloader() {
			super();
		}
		
		override protected function createLoading():* {
			return new RectLoading(0xffffff,0x004c73,0,0,1,1);	
		}	
	}
}